@model WebApplication1.Models.SalesOrderDetail

@{
    ViewData["Title"] = "Create";
}

<style>
    h1 {
        font-size: 10px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

        .row [class*="col-"] {
            padding-left: 0;
            padding-right: 0;
        }

    .form-control {
        font-size: 10px;
    }
</style>

<h1>Create</h1>

<h4>SalesOrderDetail</h4>
<hr />
<div class="row">
    <div class="col-sm-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalesOrderID" class="control-label"></label>
                <select asp-for="SalesOrderID" class ="form-control" asp-items="ViewBag.SalesOrderID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarrierTrackingNumber" class="control-label"></label>
                <input asp-for="CarrierTrackingNumber" class="form-control" />
                <span asp-validation-for="CarrierTrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <input asp-for="ProductID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderQty" class="control-label"></label>
                <input asp-for="OrderQty" class="form-control" />
                <span asp-validation-for="OrderQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
