@model IEnumerable<WebApplication1.Models.SalesOrderDetail>

@{
    ViewData["Title"] = "Index";

}

<h2>Historial de Ventas</h2>
<p style="font-size: 14px">Histórico de ventas (2011-2016).</p>

<div class="container-fluid text-center mb-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card" style="height: 160px; margin-bottom: 5px; background-color: #A1102A;">
                <a asp-area="" asp-controller="SalesOrderDetails2011" asp-action="Index" class="btn btn-dark" style="position: absolute; bottom: 10px; left: 10%; transform: translateX(-10%);">Ventas 2011</a>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card" style="height: 160px; margin-bottom: 5px; background-color: #DD33FF;">
                <a asp-area="" asp-controller="SalesOrderDetails2012" asp-action="Index" class="btn btn-dark" style="position: absolute; bottom: 10px; left: 10%; transform: translateX(-10%);">Ventas 2012</a>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card" style="height: 160px; margin-bottom: 5px; background-color: #334CFF;">
                <a asp-area="" asp-controller="SalesOrderDetails2013" asp-action="Index" class="btn btn-dark" style="position: absolute; bottom: 10px; left: 10%; transform: translateX(-10%);">Ventas 2013</a>
            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card" style="height: 160px; margin-bottom: 5px; background-color: #33FFFC;">
                <a asp-area="" asp-controller="SalesOrderDetails2014" asp-action="Index" class="btn btn-dark" style="position: absolute; bottom: 10px; left: 10%; transform: translateX(-10%);">Ventas 2014</a>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card" style="height: 160px; margin-bottom: 5px; background-color: #96FF33;">
                <a asp-area="" asp-controller="SalesOrderDetails2015" asp-action="Index" class="btn btn-dark" style="position: absolute; bottom: 10px; left: 10%; transform: translateX(-10%);">Ventas 2015</a>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card" style="height: 160px; margin-bottom: 5px; background-color: #FF5733;">
                <a asp-area="" asp-controller="SalesOrderDetails2016" asp-action="Index" class="btn btn-dark" style="position: absolute; bottom: 10px; left: 10%; transform: translateX(-10%);">Ventas 2016</a>
            </div>
        </div>
        <div style="height: 25px"></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><a asp-action="Create" class="btn btn-success">Añadir nueva venta</a> <a asp-action="Edit" class="btn btn-warning">Editar venta</a> <a asp-action="Delete" class="btn btn-danger">Eliminar venta</a></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


<h2>Consultas personalizadas</h2>
<p style="font-size: 14px">Histórico de consultas personalizadas.</p>

<div class="container-fluid text-center mb-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-bordered" style="background-color: lightgray;">
                    <tr>
                        <td style="height: 160px; vertical-align: middle;">
                            <a asp-area="" asp-controller="SalesOrderDetails2011_ConsultaPersonalizada1" asp-action="Index" class="btn btn-dark">Ventas 2011 (Consulta personalizada 1)</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-bordered" style="background-color: lightgray;">
                    <tr>
                        <td style="height: 160px; vertical-align: middle;">
                            <a asp-area="" asp-controller="SalesOrderDetails2011_ConsultaPersonalizada2" asp-action="Index" class="btn btn-dark">Ventas 2012 (Consulta personalizada 2)</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-bordered" style="background-color: lightgray;">
                    <tr>
                        <td style="height: 160px; vertical-align: middle;">
                            <a asp-area="" asp-controller="SalesOrderDetails2011_ConsultaPersonalizada3" asp-action="Index" class="btn btn-dark">Ventas 2013 (Consulta personalizada 3)</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-bordered" style="background-color: lightgray;">
                    <tr>
                        <td style="height: 160px; vertical-align: middle;">
                            <a asp-area="" asp-controller="SalesOrderDetails2011_ConsultaPersonalizada4" asp-action="Index" class="btn btn-dark">Ventas 2014 (Consulta personalizada 4)</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div style="height: 100px"></div>