@model WebApplication1.Models.SalesOrderHeader

@{
    ViewData["Title"] = "Create";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Repaso de EF DatabaseFirst y LINQ Basico</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav">
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SalesOrderDetails2011" asp-action="Index">Ventas 2011</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SalesOrderDetails2012" asp-action="Index">Ventas 2012</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SalesOrderDetails2013" asp-action="Index">Ventas 2013</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SalesOrderDetails2014" asp-action="Index">Ventas 2014</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Create</h1>

<h4>SalesOrderHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RevisionNumber" class="control-label"></label>
                <input asp-for="RevisionNumber" class="form-control" />
                <span asp-validation-for="RevisionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipDate" class="control-label"></label>
                <input asp-for="ShipDate" class="form-control" />
                <span asp-validation-for="ShipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderNumber" class="control-label"></label>
                <input asp-for="PurchaseOrderNumber" class="form-control" />
                <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesPersonID" class="control-label"></label>
                <input asp-for="SalesPersonID" class="form-control" />
                <span asp-validation-for="SalesPersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerritoryID" class="control-label"></label>
                <input asp-for="TerritoryID" class="form-control" />
                <span asp-validation-for="TerritoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillToAddressID" class="control-label"></label>
                <input asp-for="BillToAddressID" class="form-control" />
                <span asp-validation-for="BillToAddressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToAddressID" class="control-label"></label>
                <input asp-for="ShipToAddressID" class="form-control" />
                <span asp-validation-for="ShipToAddressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipMethodID" class="control-label"></label>
                <input asp-for="ShipMethodID" class="form-control" />
                <span asp-validation-for="ShipMethodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardID" class="control-label"></label>
                <input asp-for="CreditCardID" class="form-control" />
                <span asp-validation-for="CreditCardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardApprovalCode" class="control-label"></label>
                <input asp-for="CreditCardApprovalCode" class="form-control" />
                <span asp-validation-for="CreditCardApprovalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyRateID" class="control-label"></label>
                <input asp-for="CurrencyRateID" class="form-control" />
                <span asp-validation-for="CurrencyRateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxAmt" class="control-label"></label>
                <input asp-for="TaxAmt" class="form-control" />
                <span asp-validation-for="TaxAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
