@model WebApplication1.Models.SalesOrderHeader

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SalesOrderHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesOrderID" />
            <div class="form-group">
                <label asp-for="RevisionNumber" class="control-label"></label>
                <input asp-for="RevisionNumber" class="form-control" />
                <span asp-validation-for="RevisionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipDate" class="control-label"></label>
                <input asp-for="ShipDate" class="form-control" />
                <span asp-validation-for="ShipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnlineOrderFlag" /> @Html.DisplayNameFor(model => model.OnlineOrderFlag)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderNumber" class="control-label"></label>
                <input asp-for="PurchaseOrderNumber" class="form-control" />
                <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesPersonID" class="control-label"></label>
                <input asp-for="SalesPersonID" class="form-control" />
                <span asp-validation-for="SalesPersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerritoryID" class="control-label"></label>
                <input asp-for="TerritoryID" class="form-control" />
                <span asp-validation-for="TerritoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillToAddressID" class="control-label"></label>
                <input asp-for="BillToAddressID" class="form-control" />
                <span asp-validation-for="BillToAddressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToAddressID" class="control-label"></label>
                <input asp-for="ShipToAddressID" class="form-control" />
                <span asp-validation-for="ShipToAddressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipMethodID" class="control-label"></label>
                <input asp-for="ShipMethodID" class="form-control" />
                <span asp-validation-for="ShipMethodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardID" class="control-label"></label>
                <input asp-for="CreditCardID" class="form-control" />
                <span asp-validation-for="CreditCardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardApprovalCode" class="control-label"></label>
                <input asp-for="CreditCardApprovalCode" class="form-control" />
                <span asp-validation-for="CreditCardApprovalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyRateID" class="control-label"></label>
                <input asp-for="CurrencyRateID" class="form-control" />
                <span asp-validation-for="CurrencyRateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxAmt" class="control-label"></label>
                <input asp-for="TaxAmt" class="form-control" />
                <span asp-validation-for="TaxAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rowguid" class="control-label"></label>
                <input asp-for="rowguid" class="form-control" />
                <span asp-validation-for="rowguid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
