@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ejercicio 6</h1>
    <p><a href="https://github.com/rvmu-rvmu/DatabaseFirst-y-LINQ.git">Repo en GitHub</a>.</p>
</div>
